* {
  background: hsl(300, 38%, 95%);
}

body {
  font: 30px "Century Gothic", Futura, sans-serif;
  margin: 50px;
  color: hsl(300, 38%, 30%);
}

.history-button {
  background-color: hsl(300, 38%, 30%);
  color: hsl(300, 38%, 95%);
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  font: 12px "Century Gothic", Futura, sans-serif;
}

ol, ul{
  padding: 0;
  list-style: none;
}

li {
  background: hsl(300, 38%, 80%);
  display: flex;
  justify-content: start;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: hsl(300, 38%, 80%);
  border-radius: 5px;
  border: 2px solid hsl(300, 38%, 50%);
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  width: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 40px;
  background: hsl(300, 38%, 80%);
  padding: 5px;
  min-width: 205px;
  border-radius: 5px;
  border: 2px solid hsl(300, 38%, 50%);
}

.status {
  background: hsl(300, 38%, 80%);
}